*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  width: 1253px;
  height: 678px;
  padding: 64px 61px 64px 62px;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
  background: #1c1c1c;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: ;
}
section:first-of-type {
  width: 550px;
  height: 550px;
  flex-shrink: 0;
  background: #1f2937;
}

#passwordFields {
  display: inline-block;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  background: #273549;
}

#root,
#__next {
  isolation: isolate;
}
