*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 1253px;
  height: 678px;
  padding: 64px 61px;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
  background: #1c1c1c;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
#root,
#__next {
  isolation: isolate;
}

section {
  width: 550px;
  height: 550px;
  flex-shrink: 0;
  background: #1f2937;
  padding-top: 80px;
  padding-left: 52px;
}

h1 {
  color: var(--white, #fff);
  font-family: Karla;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 100% */
  letter-spacing: -1px;
  margin-bottom: 10px;
}
p {
  width: 372px;
  color: var(--Medium-grey, #d5d4d8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
button {
  font-size: 1.4rem;
  margin-top: 60px;
  background-color: #6ee7b7;
  padding: 5px 20px;
  border: none;
  border-radius: 6px;
}
button:hover {
  background-color: #d1fae5;
}

span {
  color: #6ee7b7;
}

.pwordBlock {
  margin-top: 50px;
  border-top: 1px solid #064e3b;
}
#passwordOne,
#passwordTwo {
  color: #ccffe5;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  margin-top: 45px;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  background: #273549;
}

.copyButtons {
  font-size: 1rem;
  padding: 2px 10px;
  background: #273549;
  border: 2px solid #064e3b;
  color: #6ee7b7;
}
